@font-face {
    font-family: "Open-Sans-Bold";
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Open-Sans-Regular";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
    font-weight: normal;
  }
  @font-face {
    font-family: "Open-Sans-Semi-Bold";
    src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
    font-weight: 600;
  }