@import "zero.scss";
@import "fonts.scss";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css);

$OpSaB: Open-Sans-Bold;
$OpSaR: Open-Sans-Regular;
$OpSaSeB: Open-Sans-Semi-Bold;

*{
    transition: all 300ms !important;
}

.light-theme{
    --backColor: #ffffff;
    --fontColor: #333333;
    --fontSubColor: #828282;
    --navColor:#ffffff;
    --spanColor:#000000;
    --fontReverseColor: white;
}
.dark-theme{
    --backColor: #333333;
    --spanColor:#000000;
    --fontColor: #f0f0f0;
    --navColor:#707070;
    --fontSubColor: #d1d1d1;
    --fontReverseColor: black;
}
.input__count{
    text-align: center;
    user-select: none;
        max-width: 25px;
        color: #333333;
        background: #F2F2F2;
}

.switch-theme{
    i{
        transition: all 500ms;
    }
}
*{
    font-family: $OpSaR;
}
body{
    background: var(--backColor);
    color: var(--fontColor);
    transition: all 500ms;
    i{
        color: var(--fontColor);
    }
}
.container{
    max-width: 1390px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header-nav{
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    background: var(--navColor);

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-content{
    padding: 12px 15px;
    display: flex;
    transition: all 500ms;
    align-items: center;
    justify-content: space-between;
}
.nav__lists{
    display: flex;
    
    align-items: center;
    gap: 30px;
}
.nav__list{
    & i{
        background: var(--navColor);
        color: var(--fontColor);
        font-size: 20px;
    }
}
.main-img{
    position: relative;
    max-width: 686px;
    width: 100%;
}
.main-imgs__lits{
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title{
    font-family: $OpSaSeB;
    color: var(--fontColor);
    font-size: 18px;
}.header__title{
    margin-bottom: 8px;
}
.main{
    padding-top: 90px;
}
.main-content{
    display: flex;
    gap: 15px;
}
.main-img-text__body{
    width: 100%;
    padding: 20px;
}
.header__sub-title{
    margin-top: 8px;
    margin-bottom: 18px;
}
.sub-title{
    color: var(--fontSubColor);
    letter-spacing: 0.04em;
    font-size: 12px;
}
.review-row{
    display: flex;
    align-items: center;
}
.review__stars{
    display: flex;
    margin-right: 4px;
    gap: 3px;
    i{
        font-size: 10px;
        color: var(--fontColor);
    }
}
.review-title{
    font-size: 14px;
    letter-spacing: 0.04em;
    margin-right: 12px;
}
.review-count{

    font-size: 14px;
}
.review__link{
    margin-left: 8px;
}
.link{
    
    i{
        font-size: 16px;
    }
}
.price-row{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 50px;
}
.new-price{
    font-family: $OpSaB;
    font-size: 24px;
}
.old-price{
    color:var(--fontColor);
    text-decoration: line-through;
    font-size: 14px;
    
}
.discount-row{
    display: flex;
    gap: 9px;
    margin-top: 12px;
    p{
        font-size: 12px;
        margin-bottom: 28px;
        padding: 4px 8px;
        border: 1px solid var(--fontColor);
    }
}
.choose-size{
    max-width: 315px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px 12px 16px;
    border: 1px solid var(--fontColor);
    i{
        margin-left: 146px;
    }
}
.links{
    display: block;
    color:var(--fontColor);
    font-size: 14px;
    transition: all 500ms;
    text-decoration: var(--fontColor) underline;
    &:hover{
        text-decoration: underline var(--fontColor);
    }
}
.size-count{
    display: block;
    margin-top: 12px;
    margin-bottom: 40px;
}
.amount-count{
    display: flex;
    align-items: center;
    margin-right: 12px;
    justify-content: space-between;
    max-width: 145px;
    width: 100%;
    padding: 12px 20px;
    background: #F2F2F2;
}
.amount-row{
    display: flex;
    align-items: center;
    max-width: 408px;
    width: 100%;
}
.add-card{
    font-size: 14px;
    padding: 12px 28px;
    color:var(--fontReverseColor);
    background: var(--fontColor);
}
.favorite-block{
    i{
        font-size: 16px;
        transition: 500ms;
        color:var(--fontReverseColor);
    }
    background: var(--fontColor);
    padding: 11px;
    margin-left: 4px;
}
.buy{
    margin-top: 12px;
}
.text-body__main{
    max-width: 686px;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 0.5px solid #c4c4c4;
}
.footer__link{
    display: flex;
    align-items: center;
    gap: 5px;
}
.footer__links{
    margin-top: 24px ;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.title__link{
    margin: 32px 0;
    text-align: center;
}
.cards-content{
    display: flex;
    gap: 15px;
}
.little-card-row-1{
    display: flex;
    gap: 15px;
}
.card-main__img{
    position: relative;
    max-width: 686px;
    width: 100%;
    
}
.img__hover{
    position: absolute;
    top: 0;
    width: 100%;
    background: #33333300;
    opacity: 0;
    height: 100%;
    display: flex;

    transition: all 500ms;
    .full__screen{
        position: absolute;
        top: 12px;
        right: 12px;
    }
    &:hover{
        background: #333333;
        opacity: 0.7;
        a{
            color: white;
        }
        p{
            color:white;
        }
    }
    .hover-text__center{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-grow: 1;
    }
    .hover__heart{
        bottom: 16px;
        position: absolute;
        gap: 5px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}
.cards-content__left{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.little-card{
    position: relative;
}
.footer{
    position: relative;
    bottom: 0;
    padding-bottom: 70px;
    padding-top: 142px;
}
.list-title__link{
    text-transform: uppercase;
    font-size: 16px;
}
.list-title{
    margin-bottom: 16px;
}
.footer-lists{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer__link{
    font-size: 14px;
}
.footer-content{
    display: flex;
    justify-content: space-around;
}
.footer__mail{
    max-width: 452px;
    display: flex;
    flex-direction: column;
}
.mail__input{
    border-bottom: 1px solid var(--fontColor);
    color:var(--fontColor);
    width: 100%;
    padding-bottom: 12px;
}
.submit{
    padding: 8px 28px;
    border: 1px solid var(--fontColor);
    color:var(--fontColor);
    display: flex;
    align-self: flex-end;
    margin-top: 35px;
    background: var(--backColor);
    font-size: 14px;
}
.list-title__link,.footer__link{
    color: var(--fontColor);
}
input,input::placeholder{
    transition: all 300ms;
    color: var(--fontColor);
    background: var(--backColor);
}
.wrapper {
    margin: 20px auto;
    position: relative;
    width: 400px;
    font-size: 30px;
    
    input {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      outline: none;
      border-bottom: 1px solid #aaa;
    }
 
}
.minus,.plus{
    color: var(--spanColor);
}
.btn-block{
    display: flex;
    gap: 10px;
    align-items: center;
}